<section class="u-align-center u-clearfix u-valign-top-sm u-valign-top-xs u-section-1" id="carousel_2030">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-20">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-left-cell u-size-15 u-layout-cell-1">
                  <div class="u-container-layout">
                    <div class="title-text u-expanded u-palette-1-base">Workout
                      tracker</div>
                  </div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-45 u-layout-cell-2">
                  <div class="u-container-layout">
                    <a href="/tracker">
                    <img class="u-expanded-width u-image u-image-1" src="assets/blog/Images/workout-tracker.jpg"
                      data-image-width="1200" data-image-height="800">
                      </a>
                    <div class="u-border-2 u-border-grey-dark-1 u-line u-line-vertical u-line-1"></div>
                    <p class="u-text u-text-1">Track your workouts using our workout tracker application.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                  <div class="u-container-layout"></div>
                  <div class="title-text-2 u-expanded u-palette-1-base">Muscle Groups</div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-4">

                  <div class="u-container-layout">
                    <a href="/muscleGroups">
                      <img class="u-expanded-width u-image u-image-2" src="assets/blog/Images/anatomy.jpg"
                        data-image-width="626" data-image-height="417">
                    </a>
                    <div class="u-border-2 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                    <p class="u-text u-text-2">Explore our library of workouts by muscle groups.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-col">
                <div
                  class="u-align-left u-container-style u-layout-cell u-palette-1-base u-right-cell u-size-45 u-layout-cell-5">
                  <div class="u-container-layout u-valign-top u-container-layout-5">
                    <h2 class="u-custom-font u-font-montserrat u-text u-text-body-color u-text-3">
                      Workout.<br>Play.<br>Relax.
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


