<section class="u-clearfix u-section-1" id="sec-6a30">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-blog u-expanded-width u-repeater u-repeater-1">
            {{#each muscleData as |muscleGroups|}}
            {{> muscleGroups-details}}
            {{/each}}
        </div>
    </div>
</section>