<nav class="navbar-custom navbar-dark bg-dark-custom">
        <h1 class="navbar-brand" style="color:black">Workout Tracker </h1>
        <div class="icons">
            <i class="fas fa-save text-light save-tracker"></i>
            <i class="fas fa-plus text-light new-tracker"></i>
        </div>
    </nav>
</header>


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 list-container">
                <div class="card">
                    <ul class="list-group"></ul>
                </div>
            </div>
            <div class="col-8">
                <input class="tracker-title" placeholder="Day and muscle group" maxlength="28" type="text" />
                <textarea class="tracker-textarea" placeholder="Workouts, reps, time spent, etc."></textarea>
            </div>
        </div>
    </div>
    <script src="assets/tracker.js"></script>
</body>

</html>